@charset "UTF-8";
@font-face {
  font-family: 'Mic-icon';
  src: url("/fonts/micon/micon-2/micon.eot?v=20160408");
  src: url("/fonts/micon/micon-2/micon.eot?#iefix&v=20160408") format("embedded-opentype"), url("/fonts/micon/micon-2/micon.woff?v=20160408") format("woff"), url("/fonts/micon/micon-2/micon.ttf?v=20160408") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url("/fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("/fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("/fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("/fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("/fonts/Roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot");
  src: url("/fonts/Roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto/roboto_bold_macroman/Roboto-Bold-webfont.woff") format("woff"), url("/fonts/Roboto/roboto_bold_macroman/Roboto-Bold-webfont.ttf") format("truetype"), url("/fonts/Roboto/roboto_bold_macroman/Roboto-Bold-webfont.svg#RobotoBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
.icon {
  font-family: 'Mic-icon';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 16px;
  line-height: 1;
  margin-right: 5px;
  vertical-align: middle;
  text-decoration: none !important;
}

.icon.icon-left:before, .icon.icon-left::before {
  content: '\e009';
}
.icon.icon-right:before, .icon.icon-right::before {
  content: '\e008';
}

/*
 * aid brush 颜色最浅 笔刷越大颜色越深
 * [mini, tiny, small, medium, large, big, huge, massive]
 */
/*
 * extend color
 * Roman Numbers
 * i: 1, ii: 2, iii: 3, iv: 4, v: 5, vi: 6, vii: 7, viii: 8, ix: 9, x: 10
 */
.hide {
  display: none !important;
}

.calendar {
  padding: 15px;
  width: 245px;
  border: 1px solid #CED3D9;
  box-shadow: 2px 2px 1px 0 rgba(0, 33, 66, 0.1);
  border-radius: 2px;
  font-size: 12px;
}
.calendar .calendar-header {
  position: relative;
  font-size: 12px;
}
.calendar .calendar-header .title {
  display: block;
  color: #1470CC;
  text-align: center;
  text-decoration: none;
  cursor: default;
}
.calendar .calendar-header .title .month {
  margin-right: 10px;
}
.calendar .calendar-header .pre, .calendar .calendar-header .next {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  opacity: .5;
}
.calendar .calendar-header .pre:hover, .calendar .calendar-header .next:hover {
  opacity: 1;
}
.calendar .calendar-header .next {
  left: inherit;
  right: 0;
}
.calendar.split-cols2 {
  width: 510px !important;
  font-size: 0;
}
.calendar.split-cols2 .calendar-split {
  display: inline-block;
  margin-left: 20px;
}
.calendar.split-cols2 .calendar-split:first-child {
  margin-left: 0;
}
.calendar .calendar-weeks, .calendar .calendar-days {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 12px;
}
.calendar .calendar-weeks::after, .calendar .calendar-days::after, .calendar .calendar-content::after {
  *zoom: 1;
  content: "";
  display: table;
  clear: both;
}
.calendar .calendar-item {
  float: left;
  display: block;
  width: 35px;
  height: 25px;
  list-style-type: none;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}
.calendar .calendar-weeks {
  margin-top: 10px;
}
.calendar .calendar-weeks .calendar-item {
  cursor: default;
}
.calendar .calendar-days {
  margin-top: 5px;
  width: 245px;
}
.calendar .calendar-days .calendar-item {
  background-color: #F5F7FA;
  color: #555;
  cursor: pointer;
}
.calendar .calendar-days .calendar-item:hover {
  background-color: #E6ECF2;
  color: #555;
}
.calendar .calendar-days .calendar-item.selected {
  background-color: #1470CC;
  color: #FFF;
}
.calendar .calendar-days .calendar-item.active {
  background-color: #d7edfc;
}
.calendar .calendar-days .calendar-item.empty {
  background-color: #FFF;
  cursor: default;
}
.calendar .calendar-days .calendar-item.empty:hover {
  background-color: #FFF;
}
.calendar .current {
  margin-top: 10px;
  color: #1470CC;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
}
.calendar .current .date {
  margin-left: 5px;
}
.calendar .calendar-footer {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 0;
}
.calendar .calendar-footer .calendar-area {
  display: inline-block;
  padding: 0 5px;
  margin-right: 5px;
  border: 1px solid #CED3D9;
  border-radius: 2px;
  color: #888;
  font-size: 12px;
  cursor: pointer;
}
.calendar .calendar-footer .calendar-area:last-child {
  margin-right: 0;
}

.calendar {
  font-family: 'Roboto-Regular';
  margin: 20px;
}

/*# sourceMappingURL=test.css.map */
