@font-face {
    font-family: 'Mic-icon';
    src: url("/fonts/micon/micon-2/micon.eot?v=20160408");
    src: url("/fonts/micon/micon-2/micon.eot?#iefix&v=20160408") format("embedded-opentype"),
    url("/fonts/micon/micon-2/micon.woff?v=20160408") format("woff"),
    url("/fonts/micon/micon-2/micon.ttf?v=20160408") format("truetype");
    font-weight: normal;
    font-style: normal;
}
