
.Center-Container {
    position: relative;

    /* absolute  | Nesting Rule : Center-Container(height) > Absolute-Center(width&height) */
    .Absolute-Center {
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;

        /* view center */
        .is-Fixed {
            position: fixed;
            z-index: 999;
        }

        /* responsive */
        .is-Responsive {
            width: 60%;
            height: 60%;
            min-width: 200px;
            max-width: 400px;
            padding: 40px;
        }

        .is-Right {
            left: auto; right: 20px;
            text-align: right;
        }

        .is-Left {
            right: auto; left: 20px;
            text-align: left;
        }

        .is-Overflow {
            overflow: auto;
        }

        /* auto repain */
        .is-Resizable {
            min-width: 20%;
            max-width: 80%;
            min-height: 20%;
            max-height: 80%;
            resize: both;
            overflow: auto;
        }

        /* image */
        .is-Image {
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    /* table | Nesting Rule : Center-Container&Table-Center(width&height) > Table-Cell > Center-Block(width) */
    &.Table-Center {
        display: table;

        .Table-Cell {
            display: table-cell;
            vertical-align: middle;
        }

        .Center-Block {
            width: 50%;
            margin: 0 auto;
        }
    }

    /* inline-block | Nesting Rule : Center-Container&Inline-Center(height) > Center-Block */
    &.Inline-Center {
        text-align: center;
        overflow: auto;

        .Center-Block, &:after{
            display: inline-block;
            vertical-align: middle;
        }

        &:after{
            content: '';
            height: 100%;
            margin-left: -0.25em; /* To offset spacing. May vary by font */
        }

        .Center-Block {
            max-width: 99%; /* Prevents issues with long content causes the content block to be pushed to the top */
            /* max-width: calc(100% - 0.25em) /* Only for IE9+ */
        }
    }

    /* Nesting Rule : Center-Container(height) > Negative-Center */
    .Negative-Center {
        width: 300px;
        height: 200px;
        padding: 20px;
        position: absolute;
        top: 50%; left: 50%;
        margin-left: -170px; /* (width + padding)/2 */
        margin-top: -120px; /* (height + padding)/2 */
    }

    /* transform | Nesting Rule : Center-Container&isTransformed */
    &.isTransformed {
        margin: auto;
        position: absolute;
        top: 50%; left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    /* flex-box | Nesting Rule : Center-Container&isFlex-Box(height) */
    &.isFlex-Box {
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;  /* NEW, Chrome 21-28 Safari 6.1+ */
        display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

        -webkit-box-align: center; -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        -webkit-box-pack: center; -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}