@import "../../fonts/micon/font";
@import "../../fonts/Roboto/font";

%base-icon {
    font-family: 'Mic-icon';
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
    text-decoration: none !important;
}

.icon {
    @extend %base-icon;

    &.icon-left {
        &:before {
            content: '\e009';
        }
    }

    &.icon-right {
        &:before {
            content: '\e008';
        }
    }
}

