
// base color

$color-red: #e54545;
$color-blue: #1470CC;
$color-yellow: #ff7733;

$color-black: #555;
$color-black-dark: #222;
$color-black-light: #888;

$color-purple: #6212B3;

// extend color

$color-main: $color-red;
$color-accent-A: $color-blue;
$color-accent-B: $color-yellow;

$text-color: $color-black;
$text-color-dark: $color-black-dark;
$text-color-light: $color-black-light;

$link-color: $color-accent-A;
$link-color-hover: $color-accent-B;
$link-color-visited: $color-purple;