@import "${{path.common}}/base/base";
@import "../assets/form";


body {
    .ob-form {
        @include form;
        width:200px;
        font-family: 'Roboto-Bold';
    }

    .at-form {
        @include form;
        width:300px;
        font-family: 'Roboto-Regular';
    }
}


